doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    style(type='text/css').
      html, body {
        height: 100%;
        margin: 0;
      }

      body {
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
      }
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/papercss@1.4.1/dist/paper.min.css")
    title 大佬
  body
    block content